<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Banco de Dados - Conceitos de Programação Back-End</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <%- include("../partials/header") %>   
    <%- include("../partials/nav") %>   
    
    <main>
      <h2>O que são Bancos de Dados?</h2>
      <p>Os bancos de dados são sistemas que armazenam, organizam e gerenciam dados. Eles podem ser relacionais (como MySQL) ou não relacionais (como MongoDB), e são essenciais para o armazenamento de informações em sistemas back-end.</p>
    </main>
    
    <%- include("../partials/footer") %>   
</body>
</html>
