<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Servidor - Conceitos de Programação Back-End</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <%- include("../partials/header"); %>
    <%- include("../partials/nav"); %>

      <main>
        <h2>O que é um Servidor?</h2>
        <p>Um servidor é um computador que fornece recursos, serviços e dados para outros computadores (clientes). No
          contexto de programação back-end, os servidores executam o código do lado do servidor, gerenciam requisições
          de APIs e interagem com bancos de dados.</p>
      </main>

    
      <%- include("../partials/footer"); %>
</body>

</html>